.filters {
  background-color: white;
  padding: var(--spacing-md) 0;
  margin-top: var(--spacing-lg);
  border-radius: var(--border-radius-md);
}

.filters form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--spacing-sm);
}

.filter {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.filter label {
  font-size: var(--font-size-sm);
  margin-bottom: var(--spacing-xxs);
}

.filter select {
  padding: var(--spacing-xxs);
  border: 1px solid var(--text-secondary);
  border-radius: var(--border-radius-sm);
}

@media (max-width: 768px) {
  .filters form {
    flex-direction: column;
  }
}
