:root {
    --primary-color: #A435F0; // primary color (e.g., buttons, links)
    --secondary-color: #5624D0; // headings, important sections
    --tertiary-color: #F05537; // sales, promotions
    --background-color: #F8F9FA; // light gray background
    --text-color: #333333; // dark text
    --text-secondary: #6A6F73; // secondary text

    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-xl: 3rem;
    --spacing-xxl: 4rem;

    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-md: 1.125rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 3rem;

    --line-height: 1.6;
  }